body {
  background-color: rgb(184, 173, 164);
}

.encabezado {
  display: flex;
}

#fotologo {
  width: 100%;
}

.logito {
  border-radius: 100px;
}

#pielogo {
  text-align: center;
}

#instagram {
  text-align: center;
}

#pietexto {
  text-align: center;
  font-family: "Inter", sans-serif;
}

#piepagina {
  max-width: 100%;
  background-color: #d3dde0;
}

* {
  margin: 0%;
  padding: 0%;
}

.padre {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
  font-family: "Inter", sans-serif;
  background-color: aliceblue;
}
.padre .texto {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  font-family: "Inter", sans-serif;
}
.padre .parrafocentrado {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  font-family: "Inter", sans-serif;
}

.migajas {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  margin: 0%;
}

ol {
  margin: 0%;
}

.link {
  text-decoration: none;
  color: black;
}

#contactocuerpo {
  max-width: 100%;
  background-color: #d3dde0;
  border: 1px solid black;
  padding: 50px 25px 50px 25px;
  margin: 0%;
  font-family: "Inter", sans-serif;
}

#formulario {
  padding: 20px;
  font-family: "Inter", sans-serif;
}

.centroproductos {
  margin-top: 0%;
  margin-bottom: 50px;
  padding: 20px 20px 20px 20px;
}

.linkproductos {
  text-decoration: none;
  color: black;
  font-family: "Inter", sans-serif;
}

.textoproductos {
  display: flex;
  justify-content: center;
}

.centrococina {
  margin: 0%;
}

.titulococina {
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: antiquewhite;
  margin: 0%;
}

.cocina-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
  font-family: "Inter", sans-serif;
}

.cocina-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cocina-item {
  position: relative;
}

.cocina-item:nth-child(1) {
  grid-row-start: span 2;
}

.cocina-item:nth-child(5) {
  grid-row-start: span 2;
}

.cocina-title {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
  width: 100%;
  margin: 0;
  padding: 10px;
}

.centrodecks {
  margin: 0%;
}

.titulodecks {
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: antiquewhite;
  margin: 0%;
}

.decks-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
  font-family: "Inter", sans-serif;
}

.decks-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.decks-item {
  position: relative;
}

.decks-item:nth-child(1) {
  grid-row-start: span 2;
}

.decks-item:nth-child(5) {
  grid-row-start: span 2;
}

.decks-title {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
  width: 100%;
  margin: 0;
  padding: 10decks;
}

.centroplacard {
  margin: 0;
}

.tituloplacard {
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: antiquewhite;
  margin: 0%;
}

.placard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
  font-family: "Inter", sans-serif;
}

.placard-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placard-item {
  position: relative;
}

.placard-item:nth-child(1) {
  grid-row-start: span 2;
}

.placard-item:nth-child(5) {
  grid-row-start: span 2;
}

.placard-title {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
  width: 100%;
  margin: 0;
  padding: 10px;
}

.centrovanitory {
  margin: 0%;
}

.titulovanitory {
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: antiquewhite;
  margin: 0%;
}

.vanitory-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
  font-family: "Inter", sans-serif;
}

.vanitory-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vanitory-item {
  position: relative;
}

.vanitory-item:nth-child(1) {
  grid-row-start: span 2;
}

.vanitory-item:nth-child(5) {
  grid-row-start: span 2;
}

.vanitory-title {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
  width: 100%;
  margin: 0;
  padding: 10px;
}

.textopromociones {
  display: flex;
  justify-content: center;
}

.badge {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 200px;
  height: 100px;
  border: solid 1px black;
  background-image: url("../imagenes/cybermonday.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 576px) {
  .texto {
    max-width: 100%;
    margin: 0%;
    text-align: center;
  }
  .parrafocentrado {
    margin-left: 0%;
    margin-right: 0%;
  }
  .cocina-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 200px;
    padding: 10px;
    grid-gap: 5px;
  }
  .cocina-item:nth-child(1) {
    grid-row-start: 1;
  }
  .cocina-item:nth-child(5) {
    grid-row-start: 2;
  }
  .vanitory-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 200px;
    padding: 10px;
    grid-gap: 5px;
  }
  .vanitory-item:nth-child(1) {
    grid-row-start: 1;
  }
  .vanitory-item:nth-child(5) {
    grid-row-start: 2;
  }
  .placard-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 200px;
    padding: 10px;
    grid-gap: 5px;
  }
  .placard-item:nth-child(1) {
    grid-row-start: 1;
  }
  .placard-item:nth-child(5) {
    grid-row-start: 2;
  }
  .decks-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 200px;
    padding: 10px;
    grid-gap: 5px;
  }
  .decks-item:nth-child(1) {
    grid-row-start: 1;
  }
  .decks-item:nth-child(5) {
    grid-row-start: 2;
  }
}

/*# sourceMappingURL=estilos.css.map */
