@charset "UTF-8";
body {
  background-color: rgb(184, 173, 164);
}

.encabezado {
  display: flex;
}

#fotologo {
  width: 100%;
}

.logito {
  border-radius: 100px;
}

#pielogo {
  text-align: center;
}

#instagram {
  text-align: center;
}

#pietexto {
  text-align: center;
  font-family: "Inter", sans-serif;
}

#piepagina {
  max-width: 100%;
  background-color: #D8D8D8;
  border-top: 1px solid rgb(175, 175, 175);
}

* {
  margin: 0%;
  padding: 0%;
}

.padre {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 0%;
  font-family: "Inter", sans-serif;
  background-color: aliceblue;
}
.padre .texto {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #D8D8D8;
  font-family: "Inter", sans-serif;
}
.padre .parrafocentrado {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  font-family: "Inter", sans-serif;
}

.migajas {
  display: flex;
  justify-content: center;
  background-color: #D8D8D8;
  margin: 0%;
  font-family: "Inter", sans-serif;
}

ol {
  margin: 0%;
  font-family: "Inter", sans-serif;
}

.link {
  text-decoration: none;
  color: black;
  font-family: "Inter", sans-serif;
}

.index {
  padding: 25px;
  background-color: #D8D8D8;
  font-family: "Inter", sans-serif;
}

.servicios {
  max-width: 100%;
  height: auto;
  align-items: center;
  padding: 25px;
  font-family: "Inter", sans-serif;
}
.servicios .servi {
  text-align: center;
  font-family: "Inter", sans-serif;
}
.servicios .caja {
  max-width: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

#contactocuerpo {
  max-width: 100%;
  background-color: #D8D8D8;
  border: 1px solid black;
  padding: 50px 25px 50px 25px;
  margin: 0%;
  font-family: "Inter", sans-serif;
}

#formulario {
  padding: 20px;
  background-color: #F5EFE6;
  font-family: "Inter", sans-serif;
}

.tituloproductos {
  background-color: rgb(255, 236, 236);
  font-family: "Inter", sans-serif;
}

.reforma {
  text-decoration: none;
  color: black;
}
.reforma :hover {
  color: black;
  text-decoration: none;
}
.reforma .texto {
  font-family: "Inter", sans-serif;
}
.reforma .texto :hover {
  background-color: black;
}
.reforma .texto btn {
  text-decoration: none;
}

.placarddecks {
  padding: 25px;
  font-family: "Inter", sans-serif;
}

.casabaño {
  max-width: 100%;
  padding: 25px;
}
.casabaño .cuartobaño {
  border: 2px solid rgb(255, 233, 233);
}
.casabaño .titulobaño {
  text-align: center;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: black;
}
.casabaño .baño {
  max-width: 100%;
}

.vinculobaño {
  text-decoration: none;
  color: black;
}

.vinculo {
  text-decoration: none;
  color: black;
}

.centrococina {
  margin: 0%;
}

.titulococina {
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: grey;
  opacity: 0.6;
  margin: 0%;
}

.galery-container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  padding: 20px;
  grid-gap: 10px;
}

.florida {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.floridados {
  grid-row-end: span 2;
}

.floridatres {
  grid-column-start: span 2;
}

.juan {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.heras {
  grid-column-end: span 2;
}

.diaz {
  grid-column-start: span 2;
}

.galery-item {
  position: relative;
}

.subtitulo {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
  width: 100%;
  margin: 0%;
}

.textococina {
  justify-content: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  padding: 25px;
  background-color: #D8D8D8;
}

.galery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: "Inter", sans-serif;
}

.centrodecks {
  margin: 0%;
}
.centrodecks .titulodecks {
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: grey;
  opacity: 0.6;
  margin: 0%;
}

.decks-container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  padding: 20px;
  grid-gap: 10px;
  font-family: "Inter", sans-serif;
}

.uno {
  grid-column-start: span 3;
}

.tres {
  grid-row-start: span 2;
}

.cinco {
  grid-row-start: span 2;
}

.seis {
  grid-row-end: span 2;
}

.ocho {
  grid-column-start: span 3;
}

.decks-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: "Inter", sans-serif;
}

.decks-item {
  position: relative;
}

.decks-title {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
  width: 100%;
  margin: 0;
  padding: 10px;
  font-family: "Inter", sans-serif;
}

.centroplacard {
  margin: 0;
}
.centroplacard .tituloplacard {
  text-align: center;
  font-family: "Inter", sans-serif;
  color: black;
  background-color: grey;
  opacity: 0.6;
  margin: 0%;
}

.placard-container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  padding: 20px;
  grid-gap: 10px;
}

.placard-item {
  position: relative;
}

.placard-title {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
  width: 100%;
  margin: 0;
  padding: 10px;
}

.vicente {
  grid-column-start: span 2;
}

.sanlu {
  grid-row-start: span 1;
}

.santos {
  grid-row-end: span 2;
  grid-column-end: span 2;
}

.soho {
  grid-column-end: span 2;
}

.placard-item {
  position: relative;
}

.placard-title {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
  width: 100%;
  margin: 0;
  padding: 10px;
}

.placard-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: "Inter", sans-serif;
}

.centrovanitory {
  margin: 0%;
}
.centrovanitory .titulovanitory {
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: grey;
  opacity: 0.6;
  margin: 0%;
}

.vanitory-container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  padding: 20px;
  grid-gap: 10px;
  font-family: "Inter", sans-serif;
}

.juanuno {
  grid-column-start: span 3;
}

.juandos {
  grid-column-end: span 2;
}

.diaz {
  grid-column-end: span 2;
}

.flouno {
  grid-column-start: span 3;
}

.flodos {
  grid-column-start: span 2;
}

.flotres {
  grid-row-end: span 2;
}

.flocuatro {
  grid-column-start: span 2;
}

.vanitory-item {
  position: relative;
}

.vanitory-title {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
  width: 100%;
  margin: 0;
  padding: 10px;
  font-family: "Inter", sans-serif;
}

.vanitory-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: "Inter", sans-serif;
}

.textopromociones {
  display: flex;
  justify-content: center;
  background-color: grey;
  opacity: 0.6;
  margin-bottom: 0%;
  padding: 10px;
}

.descuentos {
  width: 33%;
  display: flex;
}

.textopromo {
  font-family: "Inter", sans-serif;
  color: black;
  justify-content: center;
  text-align: center;
}

.arreglo {
  padding: 20px;
}

.badge {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 200px;
  height: 100px;
  border: solid 1px black;
  background-image: url("../imagenes/cybermonday.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .caja {
    padding: 0%;
  }
  .galery-container {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
  }
  .textococina {
    padding: 10px;
    font-size: x-small;
  }
  .florida {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
  .floridados {
    grid-row-end: span 1;
  }
  .floridatres {
    grid-column-start: span 1;
  }
  .juan {
    grid-row-start: span 1;
  }
  .heras {
    grid-column-end: span 1;
  }
  .diaz {
    grid-column-start: span 1;
  }
  .placard-container {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
  }
  .vicente {
    grid-column-start: span 1;
  }
  .santos {
    grid-column-start: span 1;
    grid-row-end: span 1;
  }
  .palermo {
    grid-column-start: span 2;
  }
  .soho {
    grid-column-start: span 2;
  }
  .once {
    grid-column-start: span 1;
  }
  .decks-container {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
  }
  .uno {
    grid-column-start: span 2;
  }
  .dos {
    grid-column-start: span 2;
  }
  .tres {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .cuatro {
    grid-column-start: span 2;
  }
  .cinco {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .seis {
    grid-column-start: span 2;
    grid-row-end: span 1;
  }
  .siete {
    grid-column-start: span 2;
  }
  .ocho {
    grid-column-start: span 2;
  }
  .vanitory-container {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
  }
  .juanuno {
    grid-column-start: span 2;
  }
  .juandos {
    grid-column-end: span 1;
  }
  .diaz {
    grid-column-end: span 1;
  }
  .flouno {
    grid-column-start: span 2;
  }
  .flodos {
    grid-column-start: span 2;
  }
  .flotres {
    grid-row-end: span 1;
  }
  .flocuatro {
    grid-column-start: span 2;
  }
}
@media screen and (max-width: 576px) {
  .texto {
    max-width: 100%;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
  }
  .parrafocentrado {
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
  .caja {
    padding: 0%;
  }
  .galery-container {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .juan {
    grid-column-start: span 1;
  }
  .placard-container {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .palermo {
    grid-column-start: span 1;
  }
  .soho {
    grid-column-start: span 1;
  }
  .decks-container {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .uno {
    grid-column-start: span 1;
  }
  .dos {
    grid-column-start: span 1;
  }
  .tres {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
  .cuatro {
    grid-column-start: span 1;
  }
  .cinco {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
  .seis {
    grid-column-start: span 1;
    grid-row-end: span 1;
  }
  .siete {
    grid-column-start: span 1;
  }
  .ocho {
    grid-column-start: span 1;
  }
  .vanitory-container {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .juanuno {
    grid-column-start: span 1;
  }
  .juandos {
    grid-column-end: span 1;
  }
  .diaz {
    grid-column-end: span 1;
  }
  .flouno {
    grid-column-start: span 1;
  }
  .flodos {
    grid-column-start: span 1;
  }
  .flotres {
    grid-row-end: span 1;
  }
  .flocuatro {
    grid-column-start: span 1;
  }
}
@media screen and (max-width: 480px) {
  .texto {
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
  .parrafocentrado {
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
  .galery-container {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .juan {
    grid-column-start: span 1;
  }
  .placard-container {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .palermo {
    grid-column-start: span 1;
  }
  .soho {
    grid-column-start: span 1;
  }
  .decks-container {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .uno {
    grid-column-start: span 1;
  }
  .dos {
    grid-column-start: span 1;
  }
  .tres {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
  .cuatro {
    grid-column-start: span 1;
  }
  .cinco {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
  .seis {
    grid-column-start: span 1;
    grid-row-end: span 1;
  }
  .siete {
    grid-column-start: span 1;
  }
  .ocho {
    grid-column-start: span 1;
  }
  .vanitory-container {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .juanuno {
    grid-column-start: span 1;
  }
  .juandos {
    grid-column-end: span 1;
  }
  .diaz {
    grid-column-end: span 1;
  }
  .flouno {
    grid-column-start: span 1;
  }
  .flodos {
    grid-column-start: span 1;
  }
  .flotres {
    grid-row-end: span 1;
  }
  .flocuatro {
    grid-column-start: span 1;
  }
}
.logito {
  max-width: 100%;
}

#collapsibleNavbar {
  background-color: rgb(214, 189, 189);
}

/*# sourceMappingURL=estilos.css.map */
