@media screen and (max-width:768px){
    .caja{
        padding: 0%;
    }
    .galery-container{
        width: 95%;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 200px;
    }
    .textococina{
        padding: 10px;
        font-size:x-small;
    }
    .florida{
        grid-column-start: span 1;
        grid-row-start: span 1;
    }
    .floridados{
        grid-row-end: span 1;
    }
    .floridatres{
        grid-column-start: span 1;
    }
    .juan{
        grid-row-start: span 1;
    }
    .heras{
        grid-column-end: span 1;
    }
    .diaz{
        grid-column-start: span 1;
    }
    
    
}

@media screen and (max-width:576px){

    .texto{
        max-width: 100%;
        text-align: center;
        margin-left: 0%;
        margin-right: 0%;
    }
    .parrafocentrado{
        margin-left: 0% !important;
        margin-right: 0% !important;
    }
    .caja{
        padding: 0%;
    }
    .galery-container{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        
    }
    .juan{
        grid-column-start: span 1;
       
    }
    
    
}

@media screen and (max-width:480px){
    .texto{
        margin-left: 0% !important;
        margin-right: 0%!important ;
    }
    .parrafocentrado{
        margin-left:0% !important;
        margin-right: 0% !important;
        
    }
    
    
    
}
    
