@media screen and (max-width:768px){

   
}

@media screen and (max-width:576px){
    .parrafocentrado{
        margin-left: 0%;
        margin-right: 0%;
    }
    .cocina-container{
        display: grid;
        grid-template-columns:repeat(1, 1fr) ;
        grid-auto-rows:200px ;
        padding: 10px;
        grid-gap: 5px;
    }
    .cocina-item:nth-child(1){
       grid-row-start: 1;

    }
    .cocina-item:nth-child(5){
        grid-row-start: 2;
    }
  
}
