#contactocuerpo{
    max-width: 100%;
    background-color: #D8D8D8 ;
    border: 1px solid black;
    padding: 50px 25px 50px 25px;
    margin: 0%;
    font-family:'Inter', sans-serif ;

}
#formulario{
    padding: 20px;
    background-color: #F5EFE6;
    font-family:'Inter', sans-serif ;
}
.formu{
    padding: 30px;
}
