*{
    margin: 0%;
    padding: 0%;
}
.padre{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top:50px ;
    margin-bottom: 100px;
    font-family: 'Inter', sans-serif;
    background-color: aliceblue;
    .texto{
        display: flex;
        justify-content: center;
        background-color: antiquewhite;
        font-family: 'Inter', sans-serif;
        
    }
    .parrafocentrado{
        display: flex;
        text-align: center;
        justify-content: center;
        margin-left:100px ;
        margin-right:100px ;
        font-family: 'Inter', sans-serif;
    }
}

.migajas{
    display: flex;
    justify-content: center;
    background-color:antiquewhite ;
    margin: 0%;
}
ol{
    margin:0%;
   
}




.link{
    text-decoration: none;
    color: black;
}