

.tituloproductos{
    background-color: grey;
    opacity: 0.6;
    font-family:'Inter', sans-serif ;
}
.reforma{
    text-decoration: none;
    color: black;
   
    :hover{
        color: black;
        text-decoration: none;
        
    }
    .texto{
        font-family:'Inter', sans-serif ;
        :hover{
            background-color: black;
            
        }
        
        btn{
           text-decoration: none;
        }
        
    }
}
.placarddecks{
    padding: 25px;
    font-family:'Inter', sans-serif ;
}
.casabaño{
    max-width: 100%;
    padding: 25px;
    .cuartobaño{
        border: 2px solid rgb(255, 233, 233);
    }

    .titulobaño{
        text-align: center;
        font-family:'Inter', sans-serif ;
        text-decoration: none;
        color:black;
        
    }
    .baño{
        max-width: 100%;
     }


}
.vinculobaño{
    text-decoration: none;
    color: black;
    
}
.vinculo{
    text-decoration: none;
    color: black;

}


