body{
    background-color: rgb(184, 173, 164);
}
.encabezado{
    display: flex;
}
#fotologo{
    width: 100%;
}
.padre{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top:50px ;
    margin-bottom: 100px;
    font-family: 'Inter', sans-serif;
}


.texto{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    
}
#desplegar{
    display: none;
}
.parrafocentrado{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left:100px ;
    margin-right:100px ;
}


.link{
    text-decoration: none;
    color: black;
}
.logito{
    border-radius: 80px;
    
}
#pielogo{
   text-align: center;
}
#instagram{
    text-align: center;
}
#pietexto{
    text-align: center;
}
#piepagina{
    max-width: 100%;
    background-color: #d3dde0;
}






#contactocuerpo{
    max-width: 100%;
    background-color: #d3dde0 ;
    border: 1px solid black;
    padding: 50px 25px 50px 25px;
    font-family:'Inter', sans-serif ;

}
.contactoform{
    justify-content: center;
    text-align: justify;
    font-family:'Inter', sans-serif ;

}






















































@media screen and (max-width:768px){

   
}

@media screen and (max-width:576px){
   
  
}
